<h1>Transmission de propriété</h1>

<p>Bonjour {{ user.fullName }},</p>

<p>Vous êtes désormais désigné comme nouveau propriétaire du site {{ siteOwner.ownerName }}.</p>

<p>Pour accéder à l’administration, connectez-vous avec votre adresse email. Si vous n’avez pas encore défini de mot de passe ou si vous souhaitez le renouveler, utilisez la procédure prévue :</p>

<p><a href="{{ loginUrl }}">Se connecter</a></p>
<p><a href="{{ forgotPasswordUrl }}">Créer ou réinitialiser mon mot de passe</a></p>

<p>Une fois connecté, vous retrouverez l’accès EasyAdmin et les échanges du site.</p>
